<!DOCTYPE html>
<html>
<head>
  <title>Tayblog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
	<div id="logo">
		<%= link_to root_path do %>
			<%= image_tag "logo.png" %>
		<% end %>
	</div>
	<ul>
		<li class="category">Website</li>
		<li><%= link_to "Blog", root_path %></li>
		<li>About</li>
	</ul>
	<ul>
		<li class="category">Social</li>
		<li><%= link_to "Twitter", root_path %></li>
		<li><%= link_to "Instagram", root_path %></li>
		<li><%= link_to "Github", root_path %></li>
		<li><%= link_to "Email", root_path %></li>
	</ul>
	<p class="sign_in">
		Admin Login
	</p>
</div>

<div class"panel panel-default">
	<div class="panel-heading">
		<p>All Posts</p>
		<div class="login">
			<div class="buttons">
				<button class="button">
					<%= link_to "New Post", new_post_path %>
				</button>
				<button class="button">
					Log Out
				</button>
			</div>
		</div>
	</div>
</div>
<hr>
<% flash.each do |name, msg| %>
	<%= content_tag(:div, msg, class: "alert") %>
<% end %>
<div class"panel panel-default">
	<div class="panel-heading"></div>
		<div class="panel-body">
    		<%= yield %>
  		</div>
	</div>
</div>


</body>
</html>
